.airdropModal {
	.sn_select {
		width: 100%;
		.ant-form-item-control-input {
			flex: 1;
		}
	}
}
.nftModal {
	.nft_row {
		.waterMarkUrl {
			background-color: rgba(206, 206, 206, 0.571) !important;
			text-align: center;
		}
	}
}
