$edit: #00c873;
$delete: #ff4c54;
$info: #1890ff;

.edit.ant-btn-primary {
	background-color: $edit;
	border-color: $edit;
	&.ant-btn-primary:hover,
	.ant-btn-primary:focus {
		background-color: rgba($edit, 0.7);
		border-color: rgba($edit, 0.7);
	}
}

.delete.ant-btn-primary {
	background-color: $delete;
	border-color: $delete;
	&.ant-btn-primary:hover,
	.ant-btn-primary:focus {
		background-color: rgba($delete, 0.7);
		border-color: rgba($delete, 0.7);
	}
}

// .lock {
// 	background-color: #ff9f4f !important;
// 	border-color: #ff9f4f !important;
// }

// .unlock {
// 	background-color: #1890ff !important;
// 	border-color: #1890ff !important;
// }

.info.ant-btn-primary {
	background-color: $info;
	border-color: $info;
	&.ant-btn-primary:hover,
	.ant-btn-primary:focus {
		background-color: rgba($info, 0.7);
		border-color: rgba($info, 0.7);
	}
}
